<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Contact_gegtion</display-name>
  <welcome-file-list>
    <welcome-file>ListContact.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddContact</display-name>
    <servlet-name>AddContact</servlet-name>
    <servlet-class>controlleur.AddContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContact</servlet-name>
    <url-pattern>/AddContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategorie</display-name>
    <servlet-name>AddCategorie</servlet-name>
    <servlet-class>controlleur.AddCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategorie</servlet-name>
    <url-pattern>/AddCategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContact</display-name>
    <servlet-name>DeleteContact</servlet-name>
    <servlet-class>controlleur.DeleteContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContact</servlet-name>
    <url-pattern>/DeleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContact</display-name>
    <servlet-name>UpdateContact</servlet-name>
    <servlet-class>controlleur.UpdateContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContact</servlet-name>
    <url-pattern>/UpdateContact</url-pattern>
  </servlet-mapping>
</web-app>